/**
 * Various overrides of the built viewer.css file. Keep this as a CSS file vs. LESS
 */

 #viewerContainer {
     top: 0;
 }

div.toolbar {
    display: none !important;
}

#sidebarContainer {
    display: none !important;
}

/** TODO: this needs some love **/
.light-theme {
    background-color: white;
    color: black;
}

.dark-theme {
    background-color: black;
    color: white;
}
