/**
 * Various overrides of the built viewer.css file. Keep this as a CSS file vs. LESS
 */

 #viewerContainer {
     top: 0;
 }

div.toolbar {
    display: none !important;
}

#sidebarContainer {
    display: none !important;
}

.dark body {
    background: #222;
}

.dark body .pdfViewer .page {
    box-shadow: 0 3px 5px rgba(0,0,0,.2);
}

body {
    background: white;
}

.pdfViewer .page {
    border-image: none;
    border: none;
    margin: 10px auto 20px auto;
    box-shadow: 0 1px 8px rgba(0,0,0,.4);
}

.meta {
    color: rgba(0,0,0,.7);
    padding: 18px 18px 0 18px;
    font-size: 15px;
    font-family: "Open Sans";
}

.page:first-child {
    margin-top: 20px;
}
