.font-holder {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}
.font-holder:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}
.font-centering {
    display: inline-block;
    vertical-align: middle;
    width: 70%;
}
.font-header {
    text-align: left;
}
.font-data {
    font-weight: 600;
}

.font-display {
    margin: 20px 0;
    font-size: 2vmax;
    font-family: "FontDisplay";
    line-height: 1.2em;
    cursor: text;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.font-samples p {
    margin: 20px 0;
}

.font-samples .normal {
    font-weight: normal;
}

.font-samples .bold {
    font-weight: bold;
}

.font-samples .italic {
    font-style: italic;
}
