#editor-console .margin-left {
    margin-left: 15px;
}

#editor-console .margin-left-small {
    margin-left: 5px;
}

#editor-console .console {
    overflow-y: visible;
    overflow-x: hidden;
    max-height: inherit;
}

#editor-console .console > div {
    width: 100%;
    margin: 5px 10px;
    background: none;
    border: 0px;
    outline: none;
    box-shadow:none;
    display:block;
	font-size: inherit;
	font-family: monospace;
}

#editor-console .console .log {
    color: #FFFFFF;
}

#editor-console .console .error {
    color: #ED488B;
}

#editor-console .console .warn {
    color: #707000;
}

#editor-console .console .time {
    color: #5BA87E;
}
#editor-console .console .timeEnd {
    color: #A0779F;
}

#editor-console .title {
    padding: 2px;
    font-weight: bold;
}

#editor-console .badge {
    text-shadow: none;
    margin-left: 4px;
    margin-bottom: -1px;
    margin-right: -6px;
}

#editor-console #filterBtns .btn {
    border-radius: 0;
	background: #222;
	border: none;
	box-shadow: none;
	padding: 10px 15px;
}

button.editor-console-icon-indicator {
    position: absolute;
    width:120px;
    background: #eee;
	bottom: 2px;
	right: 20px;
	color: #222;
	padding: 10px;
	border: 0px;
}
