
#editor-console .margin-left {
    margin-left: 15px;
}

#editor-console .margin-left-small {
    margin-left: 5px;
}

#editor-console .console {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: inherit;
}

#editor-console .console > div {
    width: 100%;
    margin: 0px -40px 0px 0px;
    background: none;
    border: 0px;
    outline: none;
    box-shadow:none;
    display:block;
}

#editor-console .console > input:focus {
    outline: none;
    box-shadow:none;
}

#editor-console .console > input.error {
    color: red;
}

#editor-console .console > input.warn {
    color: rgb(112, 112, 0);
}


.editor-console-icon {
    background: url("../htmlContent/console-icon.png");
    background-size: 22px;
    background-position: center;
    height:30px;
    width:30px;
}

.editor-console-icon.on {
    background: url("../htmlContent/console-icon-on.png");
    background-size: 22px;
    background-position: center;
}

#editor-console .label {
    text-shadow: none;
    margin-left: 4px;
    margin-bottom: -1px;
    margin-right: -6px;
}

button.editor-console-icon-indicator {
    position: absolute;
    width:120px;
    background: #eee;
	bottom: 2px;
	right: 20px;
	color: #111;
	padding: 10px;
	border: 0px;
}
